node_modules
.vscode

// built files
build/OmniToggl.omnifocusjs/Resources/common.js

build/OmniToggl.omnifocusjs/Resources/startTogglTimer.js
build/OmniToggl.omnifocusjs/Resources/stopTogglTimer.js
build/OmniToggl.omnifocusjs/Resources/TogglClient.js
